$bg-color: #8ecae6;
$drum-machine-color: #023047;
$button-color: #219ebc;
$contrast-color: #fb8500;

@mixin center-content() {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

body {
    @include center-content();
    margin: 0;
    background-color: $bg-color;
    height: 100vh;
}


#drum-machine {
    border: 4px solid $contrast-color;
    background-color: $drum-machine-color;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 2rem;
}

.drum-pad {
    @include center-content();
    cursor: pointer;
    background-color: $button-color;
    padding: 1rem;
    vertical-align: middle;
    border-radius: 0.5rem;
    border: 1px solid black;
}

#display {
    @include center-content();
    border: 1px solid black;
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: $button-color;
    margin: 2rem;
    border: 1px solid $contrast-color
}